<div id="skillsPage">

  <div class="searchbox">
    <span class="st-icon-search-alt st-multi-color st-shape-icon spyglass"><span></span></span>
    <input type="search" ng-model="query" placeholder="{{'SKILLS_SEARCH' | translate}}" aria-multiline="false">
  </div>

  <table role="presentation">
    <tbody>

      <tr class="skill_category">
        <td class="skill_heading">
          <span id="webskills" translate="SKILLS_WEB">Web</span>
        </td>
        <td class="skill_content">
          <span ng-repeat="skill in skillsCtrl.skills.web_skills | orderBy:'text' | filter:query">{{skill.text}}</span>
        </td>
      </tr>

      <tr class="skill_category">
        <td class="skill_heading">
          <span id="langskills" translate="SKILLS_LANGUAGES">Languages</span>
        </td>
        <td class="skill_content">
          <span ng-repeat="skill in skillsCtrl.skills.lang_skills | orderBy:'text' | filter:query">{{skill.text}}</span>
        </td>
      </tr>

        <tr class="skill_category">
          <td class="skill_heading">
            <span id="toolsskills" translate="SKILLS_TOOLS">Tools</span>
          </td>
          <td class="skill_content">
            <span ng-repeat="skill in skillsCtrl.skills.tool_skills | orderBy:'text' | filter:query">{{skill.text}}</span>
          </td>
        </tr>

        <tr class="skill_category">
          <td class="skill_heading">
            <span id="frameworksskills" translate="SKILLS_FRAMEWORKS">Frameworks</span>
          </td>
          <td class="skill_content">
            <span ng-repeat="skill in skillsCtrl.skills.framework_skills | orderBy:'text' | filter:query">{{skill.text}}</span>
          </td>
        </tr>

        <tr class="skill_category">
          <td class="skill_heading">
            <span id="methodskills" translate="SKILLS_METHODOLOGIES">Methodologies</span>
          </td>
          <td class="skill_content">
            <span ng-repeat="skill in skillsCtrl.skills.method_skills | orderBy:'text' | filter:query">{{skill.text}}</span>
          </td>
        </tr>

        <tr class="skill_category">
          <td class="skill_heading">
            <span id="systemsbackend" translate="SKILLS_BACKEND">Backend</span>
          </td>
          <td class="skill_content">
            <span ng-repeat="skill in skillsCtrl.skills.backend_skills | orderBy:'text' | filter:query">{{skill.text}}</span>
          </td>
        </tr>

        <tr class="skill_category">
          <td class="skill_heading">
            <span id="systemsskills" translate="SKILLS_OPERATING_SYSTEMS">Operating systems</span>
          </td>
          <td class="skill_content">
            <span ng-repeat="skill in skillsCtrl.skills.system_skills | orderBy:'text' | filter:query">{{skill.text}}</span>
          </td>
        </tr>

        <tr class="skill_category">
          <td class="skill_heading">
            <span id="securityskills" translate="SKILLS_SECURITY">Security</span>
          </td>
          <td class="skill_content">
            <span ng-repeat="skill in skillsCtrl.skills.security_skills | orderBy:'text' | filter:query">{{skill.text}}</span>
          </td>
        </tr>

        <tr class="skill_category">
          <td class="skill_heading">
            <span id="engineeringskills" translate="SKILLS_ENGINEERING">Engineering</span>
          </td>
          <td class="skill_content">
            <span ng-repeat="skill in skillsCtrl.skills.engineering_skills | orderBy:'text' | filter:query" translate="{{skill.translation}}">{{skill.text}}</span>
          </td>
        </tr>

        <tr class="skill_category">
          <td class="skill_heading">
            <span id="scienceskills" translate="SKILLS_SCIENCE">Science</span>
          </td>
          <td class="skill_content">
            <span ng-repeat="skill in skillsCtrl.skills.science_skills | orderBy:'text' | filter:query" translate="{{skill.translation}}">{{skill.text}}</span>
          </td>
        </tr>

    </tbody>
  </table>
</div>
