// FONTS
$heading-font: "Quicksand";
$base-font: "Roboto Condensed', sans-serif;";

//FONTSIZES
$h1-fontsize: 3rem;
$tools-fontsize: 3rem;

//HEIGHTS
$footer-height: 30px;
$parallex-col-height: 16rem;

//PADDINGS

//WIDTHS

//BACKGROUND
$header-bgr: "../static/images/jpg/background2.jpg";

$nav-map-width: 150px;
